{{ define "main" }}
  <div role="main" class="container-home">
        <div class="posts-list">
          {{ $pag := .Paginate (where .Data.Pages "Type" "post") }}
          {{ range first 3 $pag.Pages }}
          <a href="{{ .Permalink }}">
            <article style="background-image:url({{ .Params.image }});" class="post-preview-home">
              <div class="container">
                <h2 id="post-title-home" class="post-title-home">{{ .Title }}</h2>
                {{ if .Params.subtitle }}
                  <h3 class="post-subtitle-home">
                  {{ .Params.subtitle }}
                  </h3>
                {{ end }}     
              {{ partial "post_meta.html" . }}
              <div class="post-entry-home">
                {{ if .Truncated }}
                <a href="{{ .Permalink }}" class="post-read-more-home">{{ .Params.summary }}</a>
                  <a href="{{ .Permalink }}" class="post-read-more-home">[{{ i18n "readMore" }}]</a>
                {{ else }}
                  {{ .Params.summary }}
                {{ end }}
              </div>
            </div>
            </article>
          </a>
          {{ end }}

          <ul class="pager main-pager">
          <li class="pager">
              <a href="/post/">read more</a>
          </li>
        </ul>
        </div>
      </div>

{{ end }}
